<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-laravel">

    <div class="container">
        <a class="navbar-brand" href="">Issue Tracking Tool</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="cursor: pointer" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">About</a>
                </li>
            </ul>

        </div>
    </div>

</nav>


<body>
    <br>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card" style="border: 5px solid black; border-radius: 0;">
                    <div class="card-header" style="background-color: rgb(255, 177, 60);">
                        <h5>Login</h5>
                    </div>
                    <div class="card-body" style=" background-color: black;">

                        <form #createForm="ngForm" (ngSubmit)="onSubmit()">

                            <div class="form-group row">
                                <label style="color : white;" class="col-md-4 col-form-label text-md-right">Frist
                                    Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="fname" class="form-control" name="firstName"
                                        [(ngModel)]="firstName" required autofocus>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label style="color : white;" class="col-md-4 col-form-label text-md-right">Last
                                    Name</label>
                                <div class="col-md-6">
                                    <input type="text" id="lname" class="form-control" name="lastName"
                                        [(ngModel)]="lastName" required>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label style="color : white;" class="col-md-4 col-form-label text-md-right">E-Mail
                                    Address</label>
                                <div class="col-md-6">
                                    <input type="email" id="email-address" class="form-control" name="email"
                                        [(ngModel)]="email" #Email="ngModel"
                                        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required><br>
                                    <div [hidden]="Email.valid || Email.pristine" class="alert alert-danger">
                                        <div *ngIf="Email.errors?.pattern">
                                            ** Email is invalid!
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label style="color : white;" class="col-md-4 col-form-label text-md-right">Mobile
                                    Number</label>
                                <div class="col-md-6">
                                    <input type="tel" #Mobile="ngModel" pattern="^\d{10}$" name="mobile" id="mobile"
                                        class="form-control" [(ngModel)]="mobile" required><br>
                                    <div [hidden]="Mobile.valid || Mobile.pristine" class="alert alert-danger">
                                        <div *ngIf="Mobile.errors?.pattern">
                                            ** Mobile Number must be 10 digits
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label style="color : white;" for="password"
                                    class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" #Password="ngModel" id="password" class="form-control"
                                        name="password" [(ngModel)]="password" minlength="8" required><br>
                                    <div [hidden]="Password.valid || Password.pristine" class="alert alert-danger">
                                        <div *ngIf="Password.errors?.minlength">
                                            ** Password should contain atleast 8 characters!
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label style="color : white;" for="password"
                                    class="col-md-4 col-form-label text-md-right">Confirm Password</label>
                                <div class="col-md-6">
                                      <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword" required>
                                    <br>
                                    <div *ngIf="password!=confirmPassword" class="alert alert-danger">
                                        ** Password does not match !
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary" [disabled]="!createForm.form.valid">
                                    Register
                                </button>
                            </div>



                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br>
    <app-footer></app-footer>


</body>